/* ------------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------------ */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #0f0f23;
    color: #ccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------ */

.row {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 200%;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    background-color: #161616;
}

/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

.logo {
    margin: 10px 10px 10px 0;
    height: 50px;
    width: auto;
    float: left;
}

.main-nav {
    margin-top: 25px;
    float: right;
    list-style: none;
}

.main-nav li {
    margin-left: 40px;
    display: inline-block;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;  /* Set this to be an UNDERLINE instead of a proper border */
    transition: border-bottom 0.2s;
}

.main-nav li a:active, .main-nav li a:hover {
    border-bottom: 2px solid #28b062;
}
