{% extends "global/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    {% if correct %}
        Correct Answer - Quaestiones
    {% elif incorrect_type == "input not generated" %}
        Input Not Generated - Quaestiones
    {% elif incorrect_type == "cannot check yet" %}
        Answer Cannot Be Checked Yet - Quaestiones
    {% elif incorrect_type == "too high" or incorrect_type == "too low" %}
        Incorrect Answer - Quaestiones
    {% elif incorrect_type == "nothing entered" %}
        Nothing Was Entered - Quaestiones
    {% elif incorrect_type == "not a number" %}
        Not A Number - Quaestiones
    {% else %}
        How Did You Get Here? - Quaestiones
    {% endif %}
{% endblock %}

{% block content %}
    <article>
        <p>
            {% if correct %}
                That's the correct answer!<br>
                You placed <em>{{ position|ordinal }}</em> in solving this question, so you earned <em>{{ points }}</em>
                points.<br>
                <br>
                Your total score is now <em>{{ user.profile.total_score }}</em>.
                <br>
                <a href="{% url 'questions:index' %}">[Return to the Questions List]</a>
            {% else %}
                {% if incorrect_type == "input not generated" %}
                    You haven't generated your puzzle input yet.
                {% elif incorrect_type == "cannot check yet" %}
                    You cannot check your answer yet.<br>
                    You can check your answer after <em>{{ time_left }}</em> more seconds.
                {% elif incorrect_type == "too high" or incorrect_type == "too low" %}
                    That's not the right answer; your answer was {{ incorrect_type }}! If you're stuck, make sure you're
                    using the <em>full input data</em> that is provided to you.<br>
                    <br>
                    You may check your answer again in <em>60</em> seconds.
                {% elif incorrect_type == "nothing entered" %}
                    You have to type something into the answer field before submitting.
                {% elif incorrect_type == "not a number" %}
                    You were supposed to enter a number, not a string.
                {% else %}
                    How did you get here?
                {% endif %}
                <br>
                <a href="{% url 'questions:display-question' question_slug=question_slug %}">[Return to the Question]</a>
            {% endif %}
        </p>
    </article>
{% endblock %}
