{% extends "global/base.html" %}
{% load static %}

{% block content %}
    <article>
        <p>
            {% if correct %}
                That's the correct answer!<br>
                <a href="{% url 'index' %}">[Return to the Questions List]</a>
            {% else %}
                {% if incorrect_type == "input not generated" %}
                    You haven't generated your puzzle input yet.
                {% elif incorrect_type == "cannot check yet" %}
                    You cannot check your answer yet.<br>
                    You can check your answer after <em>{{ time_left }}</em> more seconds.
                {% elif incorrect_type == "too high" or incorrect_type == "too low" %}
                    Incorrect! Your answer was {{ incorrect_type }}!<br>
                    You may check your answer again in <em>60</em> seconds.
                {% elif incorrect_type == "nothing entered" %}
                    You have to type something into the answer field before submitting.
                {% elif incorrect_type == "not a number" %}
                    You were supposed to enter a number, not a string.
                {% else %}
                    How did you get here?
                {% endif %}
                <br>
                <a href="{% url 'display_question' question_id %}">[Return to the Question]</a>
                {# TODO: Make this page prettier #}
            {% endif %}
        </p>
    </article>
{% endblock %}
