{% extends "global/base_template.html" %}
{% load static %}


{% block content %}
    <header>
        <div class="header-1">
            <h1><a href="{% url 'index' %}">Quaestiones</a></h1>
            <nav>
                <ul>
                    <li>
                        [About]
                    </li>
                    <li>
                        [FAQ]
                    </li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:logout' %}">[Log Out]</a>
                        </li>
                        <li>
                            {{ request.user.username }}
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">[Log In]</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="header-2">

        </div>
    </header>
    <article>
        {% block page_content %}
        {% endblock %}
    </article>
{% endblock %}
