{% extends "global/base_template.html" %}
{% load static %}

{% block content %}
    <header>
        <h1><a href="{% url 'index' %}">Quaestiones</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="#">[About]</a>
                </li>
                <li>
                    <a href="#">[FAQ]</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'accounts:settings' %}">[Settings]</a>
                    </li>

                    <li>
                        <a href="{% url 'accounts:logout' %}">[Log Out]</a>
                    </li>
                    <li>
                        {{ user.username }}
                    </li>
                    <li>
                        <span {% if user.profile.has_solved_all_questions %}class="golden"
                              title="Hooray! You solved all the questions!"{% endif %}>
                            {% if user.profile.no_questions_solved == 1 %}
                                <em>1</em> Question Solved
                            {% else %}
                                <em>{{ user.profile.no_questions_solved }}</em> Questions Solved
                            {% endif %}
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">[Log In]</a> or <a href="{% url 'accounts:signup' %}">[Sign
                        Up]</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="sidebar">
        <p class="quiet">This website was made with the help of <a href="https://github.com/Ryan-Kan/Quaestiones">
            Quaestiones</a>, which was made by <a href="https://github.com/Ryan-Kan">Ryan-Kan</a>.</p>
    </div>

    <main>
        {% block page_content %}
        {% endblock %}
    </main>

    {% block page_scripts %}{% endblock %}
{% endblock %}
