{% extends "global/base.html" %}
{% load static %}

{% block title %}
    {% if form.instance.id %}
        Editing "{{ form.instance.title }}" - Quaestiones
    {% else %}
        Creating A New Question - Quaestiones
    {% endif %}
{% endblock %}

{% block header_scripts %}
    {% if form.instance.id %}
        <script>
            // Define some constants
            const CONFIRM_DELETE_REGEX = "[dD][eE][lL][eE][tT][eE] " + "{{ regex_for_deletion }}";
            const RESET_INPUT_URL = "{{ reset_input_url }}";

            // Create a form so that the question slug can be sent to the URL
            let resetInputForm = new FormData();
            resetInputForm.append("question_slug", "{{ form.instance.question_slug }}");
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if form.instance.id %}
        <h2>--- Editing <code>{{ form.instance.title }}</code> ---</h2>
    {% else %}
        <h2>--- Creating A New Question ---</h2>
    {% endif %}

    <div class="admin-only">
        <p class="quiet">
            Note: You might want to <a class="admin-only" target="_blank" href="{% url 'preview_question' %}">[Preview
            Your Question]</a> before entering it into the 'question description' field.
        </p>

        <form class="site-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if form.instance.id %}
                <p>
                    Question Slug:<br>
                    <code>{{ form.instance.question_slug }}</code>
                </p>
            {% endif %}

            <input type="submit"
                   value="{% if form.instance.id %}[Save Changes]{% else %}[Create Question]{% endif %}">
        </form>

        {% if form.instance.id %}
            <p>
                If you want, you can
                <button id="reset-input-modal-button">[Reset This Question's Input]</button>
                for all users, or just
                <button id="delete-question-modal-button">[Delete This Question]</button>
                in its entirety.
            </p>

            <!-- Reset Input For All Users Modal -->
            <div id="reset-input-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        <span class="close" id="reset-input-modal-close">&times;</span>
                        <span><em>Are you absolutely sure?</em></span>
                    </div>

                    <div class="modal-body">
                        <p>
                            This action <em>cannot be undone</em>. This will <em>permanently</em> delete the inputs of
                            all users for the question titled <code>{{ form.instance.title }}</code>.<br>
                            <br>
                            This would also <em>remove this question from every user's list of solved
                            questions</em>.<br>
                            <br>
                            Do you still want to reset the input for all the users?
                        </p>
                        <button id="reset-input-no" class="popup-form-element"><b>No</b></button>
                        <button id="reset-input-yes" class="popup-form-element"><b>Yes</b></button>
                    </div>
                </div>
            </div>

            <!-- Reset Input Successful Modal -->
            <div id="reset-input-success-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        <span class="close" id="reset-input-success-modal-close">&times;</span>
                        <span><em>This Question's Inputs Have Been Reset</em></span>
                    </div>

                    <div class="modal-body">
                        <p>
                            Operation complete. You may now close this window.
                        </p>
                    </div>
                </div>
            </div>

            <!-- The Delete Question Modal -->
            <div id="delete-question-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        <span class="close" id="delete-question-modal-close">&times;</span>
                        <span><em>Are you absolutely sure?</em></span>
                    </div>

                    <div class="modal-warning">
                        <span>Unexpected bad things will happen if you don’t read this!</span>
                    </div>

                    <div class="modal-body">
                        <p>
                            This action cannot be undone. This will <em>permanently</em> delete the
                            <code>{{ form.instance.title }}</code> question. <em>You will not be able to salvage any of
                            the input generation code or descriptions.</em><br>
                            <br>
                            Please type <code>Delete {{ form.instance.title }}</code> into the text box below to
                            confirm.
                        </p>
                        <form action="{% url 'delete_question' question_slug=form.instance.question_slug %}"
                              method="post">
                            {% csrf_token %}
                            <label>
                                <input type="text" class="popup-form-element" id="delete-question-modal-input" autofocus
                                       required name="verify" autocomplete="off">
                            </label>
                            <button type="submit" class="popup-form-element" id="confirm-delete-question-button"
                                    disabled><b>I understand the consequences, delete this question.</b></button>
                        </form>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'questions/resources/js/edit_question.js' %}"></script>
{% endblock %}
