{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Edit Questions - Quaestiones
{% endblock %}

{% block content %}
    <h2>--- Edit Questions ---</h2>
    <p>
    Select a question from the list below to edit it:
    </p>

    <div class="question-list">
        {% if question_list %}
            <ol>
                {% for question in question_list %}
                    <li>
                        <a href="{% url 'edit_question' question_id=question.id %}">
                            {% if question.is_question_released %}
                                <span><ion-icon name="lock-open-outline" size="small"></ion-icon></span>
                            {% else %}
                                <span><ion-icon name="lock-closed-outline" size="small"></ion-icon></span>
                            {% endif %}

                            {{ question.title }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
    </div>

    <p>
        Do you want to <a class="admin-only" href="{% url 'create_question' %}">[Create A New Question]</a>?
    </p>

    <div>
        <p>Legend:</p>
        <ul>
            <li><ion-icon name="lock-open-outline" size="small"></ion-icon>: Released</li>
            <li><ion-icon name="lock-closed-outline" size="small"></ion-icon>: Not Released</li>
        </ul>
    </div>
{% endblock %}
