{% extends "global/base.html" %}
{% load static %}
{% load display_solves %}

{% block title %}
    Edit Questions - Quaestiones
{% endblock %}

{% block header_scripts %}
    <script>
        const RESET_INPUT_URL = "{{ reset_all_inputs_url }}";
    </script>
{% endblock %}

{% block content %}
    <h2>--- Edit Questions ---</h2>
    {% if question_list %}
        <p>
            Select a question from the list below to edit it:
        </p>

        <div class="question-list">
            <ol>
                {% for question in question_list %}
                    <li style="margin-bottom: 8px;">
                        <a href="{% url 'edit_question' question_slug=question.question_slug %}">
                            {% if question.is_question_released %}
                                <ion-icon name="lock-open-outline" size="small">R</ion-icon>
                            {% else %}
                                <ion-icon name="lock-closed-outline" size="small">N</ion-icon>
                            {% endif %}

                            <span>{{ question.title }}</span> <span
                                style="float: right;">{% display_solves question.num_solves True %}</span>
                            <br>
                            <span style="width: 18pt; float: left">&nbsp</span><span
                                style="font-size: 75%">{{ question.short_description }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>

        <p>
            You can also choose to
            <button id="reset-all-inputs-modal-button">[Reset All Questions' Inputs]</button>
            .
        </p>

        <!-- Reset Inputs For All Questions Modal -->
        <div id="reset-all-inputs-modal" class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span class="close" id="reset-all-inputs-modal-close">&times;</span>
                    <span><em>Are you absolutely sure?</em></span>
                </div>

                <div class="modal-warning">
                    <span>Unexpected bad things will happen if you don’t read this!</span>
                </div>

                <div class="modal-body">
                    <p>
                        This action <em>cannot be undone</em>. This will <em>permanently</em> delete the inputs of
                        <em>all questions</em>.<br>
                        <br>
                        This would also <em>remove this question from every user's list of solved
                        questions</em>, which will mean that the <em>number of solves for every question will be reset
                        to 0</em>.<br>
                        <br>
                        Please type <code>Reset All Inputs</code> into the text box below to confirm.
                    </p>
                    <label>
                        <input type="text" class="popup-form-element" id="reset-all-inputs-modal-input" autofocus
                               required name="verify" autocomplete="off"
                               pattern="[rR][eE][sS][eE][tT] [aA][lL][lL] [iI][nN][pP][uU][tT][sS]">
                    </label>
                    <button type="submit" class="popup-form-element" id="reset-all-inputs-confirm-button" disabled><b>I
                        understand the consequences, reset all inputs for all questions.</b></button>
                </div>
            </div>
        </div>

        <!-- Reset All Input Successful Modal -->
        <div id="reset-all-inputs-success-modal" class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span class="close" id="reset-all-inputs-success-modal-close">&times;</span>
                    <span><em>All Questions' Inputs Have Been Reset</em></span>
                </div>

                <div class="modal-body">
                    <p>
                        Operation complete. You may now close this window.
                    </p>
                </div>
            </div>
        </div>

    {% else %}
        <p>No questions are available.</p>
    {% endif %}

    <p>
        Do you want to <a class="admin-only" href="{% url 'create_question' %}">[Create A New Question]</a>?
    </p>

    <div style="margin-top: 3em; display: block;">
        <p>Legend:</p>
        <ul>
            <li>
                <ion-icon name="lock-open-outline" size="small">R</ion-icon>
                : The question has been released
            </li>
            <li>
                <ion-icon name="lock-closed-outline" size="small">N</ion-icon>
                : The question has yet to be released
            </li>
        </ul>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'questions/resources/js/edit_questions.js' %}"></script>
{% endblock %}
