{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Edit Questions - Quaestiones
{% endblock %}

{% block content %}
    <h2>--- Edit Questions ---</h2>
    {% if question_list %}
        <p>
            Select a question from the list below to edit it:
        </p>

        <div class="question-list">
            <ol>
                {% for question in question_list %}
                    <li style="margin-bottom: 8px;">
                        <a href="{% url 'edit_question' question_id=question.id %}">
                            {% if question.is_question_released %}
                                <ion-icon name="lock-open-outline" size="small">R</ion-icon>
                            {% else %}
                                <ion-icon name="lock-closed-outline" size="small">N</ion-icon>
                            {% endif %}

                            <span>{{ question.title }}</span>
                            <br>
                            <span style="width: 18pt; float: left">&nbsp</span><span
                                style="font-size: 75%">{{ question.short_description }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>

    {% else %}
        <p>No questions are available.</p>
    {% endif %}

    <p>
        Do you want to <a class="admin-only" href="{% url 'create_question' %}">[Create A New Question]</a>?
    </p>

    <div style="margin-top: 3em; display: block;">
        <p>Legend:</p>
        <ul>
            <li>
                <ion-icon name="lock-open-outline" size="small">R</ion-icon>
                : The question has been released
            </li>
            <li>
                <ion-icon name="lock-closed-outline" size="small">N</ion-icon>
                : The question has yet to be released
            </li>
        </ul>
    </div>
{% endblock %}
