{% extends "questions/base.html" %}
{% load static %}

{% block page_content %}
    <div class="question-list">
        {% if question_list %}
            <ol>
            {% for question in question_list %}
                <li>
                    <a href="/questions/{{ question.id }}/">
                        {% if question.id|safe in request.user.profile.get_solved_questions %}
                            <span class="tick">&#x2713;</span>
                        {% else %}
                            <span>&nbsp</span>
                        {% endif %}
                        {{ question.title }}
                    </a>
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
    </div>
{% endblock %}
