{% extends "global/base.html" %}
{% load static %}
{% load display_solves %}

{% block title %}
    Quaestiones
{% endblock %}

{% block content %}
    <div class="question-list">
        {% if question_list %}
            <ol>
                {% for question in question_list %}
                    <li>
                        <a href="{% url 'display_question' question_slug=question.question_slug %}"
                           class="{% if not question.is_question_released %}disabled{% endif %}">
                            {% if question.id|safe in request.user.profile.get_solved_questions %}
                                <span class="tick" style="width: 1em; float: left;">&#x2713;</span>
                            {% else %}
                                <span style="width: 1em; float: left;">&nbsp</span>
                            {% endif %}

                            {% if question.is_question_released %}
                                {{ question.title }}
                                <span style="float: right;">{% display_solves question.num_solves %}</span>
                            {% else %}
                                {{ question.scrambled_title }}
                            {% endif %}
                        </a>
                        <div class="clock" id="clock-{{ forloop.counter0 }}"></div>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        // Get all the release datetimes for all the questions
        let releaseDatetimes = [];
        {% for question in question_list %}
            releaseDatetimes.push(Math.max({{ question.question_release_datetime|date:"U" }} - {% now "U" %}, -1));
        {% endfor %}
    </script>
    <script src="{% static 'questions/resources/js/index.js' %}"></script>
{% endblock %}
