{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Previewing Question Content - Quaestiones
{% endblock %}

{% block header_scripts %}
    <script src="{% static 'vendors/js/showdown.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>--- Previewing Question Content ---</h2>

    <div class="admin-only">
        <p>
            Type your question's Markdown text in the text box below, and a preview of your question will be shown
            below.
        </p>

        <label>
            <textarea id="question-content" placeholder="Type your question's markdown text here!"></textarea>
        </label>

        <hr>

        <div id="question-preview-area"></div>


    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'questions/resources/js/preview_question.js' %}"></script>
{% endblock %}
