{% extends "global/base.html" %}
{% load static %}

{% block title %}
    {{ question.title }} - Quaestiones
{% endblock %}

{% block header_scripts %}
    <script>
        const QUESTION_CONTENT = `{{ question.long_description|escapejs }}`;  // ES6 supports this multi-line string
    </script>
    <script src="{% static 'vendors/js/showdown.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>--- {{ question.title }} ---</h2>
    <h3>Last Updated on {{ question.last_updated }}</h3>

    <article id="question-body">
        Parsing...
    </article>

    {% if user.is_authenticated and user.is_active and not already_answered_correctly %}
        <p>
            To begin, <a href="{% url 'questions:generate-input' question_slug=question.question_slug %}" target="_blank">get your
            puzzle input</a>.
        </p>

        <form method="post" action="{% url 'questions:check-question-answer' question_slug=question.question_slug %}">
            {% csrf_token %}
            <p>
                Answer:
                <label>
                    <input type="text" name="answer" autocomplete="off">
                </label>
                <input type="submit" value="[Submit]">
            </p>
        </form>
    {% elif user.is_authenticated and not user.is_active %}
        <p>
            To answer, please <em>confirm your email address</em> by clicking on the link on the email that was just
            sent to your email address.
        </p>
    {% elif user.is_authenticated and already_answered_correctly %}
        <p>
            You've already answered this question correctly.<br>
            (Your answer was <code>{{ correct_answer }}</code>.)<br>
            <br>
            If you still want to see it, you can still <a
                href="{% url 'questions:generate-input' question_slug=question.question_slug %}" target="_blank">get your puzzle
            input</a>.
        </p>
    {% else %}
        To answer, please
        <a href="{% url 'accounts:login' %}?next={% url 'questions:display-question' question_slug=question.question_slug %}">log
            in</a>
        or
        <a href="{% url 'accounts:signup' %}?next={% url 'questions:display-question' question_slug=question.question_slug %}">
            sign up</a>.
    {% endif %}
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'questions/resources/js/question.js' %}"></script>
{% endblock %}
