{% extends "global/base_template.html" %}
{% load static %}

{% block title %}
    {{ question.title }} - Quaestiones
{% endblock %}

{% block content %}
    <h2>--- {{ question.title }} ---</h2>
    <h3>Last Updated on {{ question.last_updated }}</h3>

    <article>
        {{ question.html_of_description|safe }}
    </article>

    {% if user.is_authenticated and not already_answered_correctly %}
        <p>
            To begin, <a href="{% url 'generate_input' question_id=question.id %}" target="_blank">get your puzzle
            input</a>.
        </p>

        <form method="post" action="answer">
            {% csrf_token %}
            <p>
                Answer:
                <label>
                    <input type="text" name="answer" autocomplete="off">
                </label>
                <input type="submit" value="[Submit]">
            </p>
        </form>
    {% elif already_answered_correctly %}
        <p>
            You've already answered this question correctly.<br>
            (Your answer was <code>{{ correct_answer }}</code>.)<br>
            <br>
            If you still want to see it, you can still <a href="{% url 'generate_input' question_id=question.id %}"
                                                          target="_blank">get your puzzle input</a>.
        </p>
    {% else %}
        To answer, please
        <a href="{% url 'accounts:login' %}?next={% url 'display_question' question_id=question.id %}">log in</a> or
        <a href="{% url 'accounts:signup' %}?next={% url 'display_question' question_id=question.id %}">
            sign up</a>.
    {% endif %}
{% endblock %}
