{% extends "global/base.html" %}
{% load static %}

{% block title %}
    500 Internal Server Error - Quaestiones
{% endblock %}

{% block page_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/error-pages.css' %}">
{% endblock %}

{% block content %}
    <h1>500</h1>
    <h2>Internal Server Error</h2>
    <p>Oh no! Something went wrong on the server.</p>
    <p>But hey, you could still <a href="{% url 'index' %}">go back to the main page</a>.</p>
    <p style="font-size: 50%">That could've been worse! Thankfully it wasn't!</p>
{% endblock %}
