{% load static %}
{% load get_latest_commit_datetime %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">

    <!-- Load Vendors' CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static "vendors/css/grid.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendors/css/normalize.css" %}">

    <!-- Include Theme's CSS -->
    {% if request.user.is_authenticated %}
        <link rel="stylesheet" type="text/css" href="{% static "resources/css" %}/themes/{{ user.profile.theme }}.css">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "resources/css/themes/Dark Mode.css" %}">
    {% endif %}

    <!-- Include other CSS stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/alerts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/modals.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/staff-pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/tables.css' %}">

    <!-- Import Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Include page's CSS Stylesheet -->
    {% block page_stylesheet %}{% endblock %}

    <!-- Include header scripts -->
    <script src="{% static 'vendors/js/js.cookie-2.2.1.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'vendors/js/purify.min.js' %}"></script>
    <script>const INDEX_URL = "{% url 'questions:index' %}";</script>
    {% block header_scripts %}{% endblock %}

    <!-- Define title -->
    <title>{% block title %}Quaestiones{% endblock %}</title>

    <!-- Define favicon -->
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
</head>

<body>
<!-- Check if JavaScript is enabled -->
<noscript>
    <div class="alert">
        <span class="alert-box-close-button" id="alert-temp">&times;</span>
        JavaScript is needed to run The Challenge. Please enable it.
    </div>
</noscript>

<!-- Header -->
<header>
    {% block header %}
        <div>
            <h1 style="width: 6em"><a href="{% url 'questions:index' %}">Quaestiones</a></h1>

            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:settings' %}">[Settings]</a>
                        </li>

                        <li>
                            <a href="{% url 'accounts:logout' %}">[Log Out]</a>
                        </li>
                        <li>
                            {{ user.username }}
                        </li>
                        <li>
                    <span {% if user.profile.has_solved_all_questions %}class="golden"
                          title="Hooray! You solved all the questions!"{% endif %}>
                        {% if user.profile.no_questions_solved == 1 %}
                            <em>1</em> Question Solved
                        {% else %}
                            <em>{{ user.profile.no_questions_solved }}</em> Questions Solved
                        {% endif %}
                    </span>
                        </li>
                        <li>
                    <span {% if user.profile.has_solved_all_questions %}class="golden"
                          title="Hooray! You solved all the questions!"{% endif %}>
                        <em>{{ user.profile.total_score }}</em> Points
                    </span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">[Log In]</a> or
                            <a href="{% url 'accounts:signup' %}">[Sign Up]</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div>
            <h1 style="width: 6em">
            </h1>

            <nav>
                <ul>
                    <li>
                        <a href="{% url 'info' %}">[About]</a>
                    </li>

                    <li>
                        <a href="{% url 'info' %}#faq">[FAQ]</a>
                    </li>

                    <li>
                        <a href="{% url 'stats:leaderboard' %}">[Leaderboard]</a>
                    </li>

                    {% if user.is_authenticated and user.is_staff %}
                        <li>
                            <a class="admin-only" href="{% url 'questions:manage-questions' %}">[Manage Questions]</a>
                        </li>

                        <li>
                            <a class="admin-only" href="{% url 'uploaded_files_manager:manage-files' %}">[Manage Files]</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endblock %}
</header>

<!-- Sidebar -->
<div id="sidebar" class="quiet">
    {% block sidebar %}
        <p>
            This website was made with the help of <a href="https://github.com/Ryan-Kan/Quaestiones">
            Quaestiones</a>, which was made by <a href="https://github.com/Ryan-Kan">Ryan-Kan</a>.
        </p>

        <p>
            The latest commit made to this server was on:
        </p>

        <div style="text-align: center">
            {% get_latest_commit_datetime %}
        </div>
    {% endblock %}
</div>

<!-- Main -->
<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Scripts -->
<script src="{% static "resources/js/base.js" %}"></script>
{% block body_scripts %}{% endblock %}

<!-- Alerts -->
<div id="alerts-box"></div>

{% if messages %}
    <script>
        {% for message in messages %}
            createAlert("{{ message }}", level={{ message.level }});
        {% endfor %}
    </script>
{% endif %}
</body>
</html>
