{% extends "stats/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <h2>--- Leaderboard ---</h2>

    <p>
        Here are the top <em>{{ num_users_to_show }}</em> users:
    </p>

    {% if top_users %}
        <table>
            <tr>
                <th>
                    Position
                </th>

                <th>
                    Username
                </th>

                <th>
                    Score
                </th>
            </tr>

            {% for user in top_users %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>

                    <td>
                        {{ user.username }}
                    </td>

                    <td>
                        {{ user.profile.total_score }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No users have signed up yet.
    {% endif %}

    {% if user.is_authenticated %}
        <p>
            <!-- Todo: update position -->
            You are placed <em>{{ 1337|ordinal }}</em> with a score of <em>{{ user.profile.total_score }}</em>.
        </p>
    {% endif %}

{% endblock %}
