{% extends "stats/base.html" %}
{% load array_searching_functions %}
{% load static %}
{% load humanize %}

{% block content %}
    <h2>--- Leaderboard ---</h2>

    {% if top_users %}
        <p>
            Here are the top <em>{{ top_users|length }}</em> users:
        </p>

        <table>
            <tr>
                <th>
                    Position
                </th>

                <th>
                    Username
                </th>

                <th>
                    Score
                </th>
            </tr>

            {% for user in top_users %}
                <tr>
                    <td>
                        {% get_element_in_index positions forloop.counter0 as position %}
                        {{ position|ordinal }}
                    </td>

                    <td>
                        {{ user.username }}
                    </td>

                    <td>
                        {{ user.profile.total_score }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No users have signed up yet.
    {% endif %}

    {% if user.is_authenticated %}
        <p>
            You are placed <em>{{ user_rank|ordinal }}</em> with a score of <em>{{ user.profile.total_score }}</em>.
        </p>
    {% endif %}

{% endblock %}
