{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Change Email - Quaestiones
{% endblock %}

{% block header_scripts %}
     <script>
        // Define some constants
        const SEND_CONFIRMATION_EMAIL_URL = "{{ confirm_email_url }}";

        // Create a form so that the email can be sent to the URL
        let emailForm = new FormData();
        emailForm.append("to_email", "{{ email_address }}");  // Don't try to change this on the fly; it won't work
    </script>
{% endblock %}

{% block content %}
    {% if page_type == "change email" %}
        <h2> --- Change Email ---</h2>
        <p>
            Please enter your new email into the field below.
        </p>
        <form class="site-form" action="{% url 'accounts:change_email' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="[Change Email]">
        </form>

    {% elif page_type == "confirm email" %}
        <p>
            Please confirm your new email by clicking on the link on the email that was just sent to your email address.
            <br>
            In the meantime, your account's email will still <em>remain the same</em> until your new email account can
            be confirmed.
        </p>
        <p>
            Don't see the confirmation email appearing in your new email address's inbox? Check your
            <em>spam folder</em> and see if the email is there.
        </p>
        <p>
            If not, you may request to <a id="resend-email-button" href="javascript:void(0)"
                                          onclick="sendConfirmationEmail()" class="disabled">[Resend the Confirmation
            Email]</a><span id="confirmation-email-wait"> in <em>60</em> seconds</span>.
        </p>
    {% elif page_type == "invalid token" %}
        <p>
            The activation link is invalid, or has expired. Please try again.
        </p>
    {% else %}
        <p>
            Thank you for your email confirmation. This email (<code>{{ email }}</code>) will now be your new email for
            your account. You can now continue to answer the questions on the website.
        </p>
        <a href="{% url 'index' %}">[Return to Main Page]</a>
    {% endif %}
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'accounts/resources/js/change_email.js' %}"></script>
{% endblock %}
