{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Change Password - Quaestiones
{% endblock %}

{% block content %}
    <h2> --- Change Password ---</h2>

    <form class="site-form" action="{% url 'accounts:change_password' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="[Change Password]">
    </form>

    <p>Did you <a href="{% url 'accounts:password_reset' %}">forget your password</a>?</p>
{% endblock %}
