{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Change Password - Quaestiones
{% endblock %}

{% block content %}
    {% if page_type == "change password" %}
        <h2> --- Change Password ---</h2>

        <form class="site-form" action="{% url 'accounts:change-password' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="[Change Password]">
        </form>

        <p>Did you <a href="{% url 'accounts:password-reset' %}">forget your old password</a>?</p>

    {% elif page_type == "success" %}
        <p>Your password was changed successfully. </p>
        <a href="{% url 'index' %}">[Return to Main Page]</a>
    {% endif %}
{% endblock %}
