{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Log In - Quaestiones
{% endblock %}

{% block content %}
    <h2>--- Login ---</h2>
    <p>
        Please log into your account.
    </p>

    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% if request.GET.next %}
            <ul class="errorlist login-first">
                <li>Please log into your account first.</li>
            </ul>
        {% endif %}

        {% csrf_token %}
        {{ form.as_p }}

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        <br>
        <input type="submit" value="[Log in]">
    </form>

    <p>Did you <a href="{% url 'accounts:password_reset' %}">forget your password</a>?</p>
{% endblock %}
