{% extends "global/base_template.html" %}

{% block title %}Password Reset - Quaestiones{% endblock %}

{% block content %}
    {% if page_type == "forgot password" %}
        <h2>--- Forgot your password? ---</h2>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form class="site-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="[Send Instructions]">
        </form>
    {% elif page_type == "email sent" %}
        <h2>--- Check your inbox ---</h2>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    {% elif page_type == "reset password" %}
        {% if validlink %}
            <h2>--- Set a new password ---</h2>
            <form class="site-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="[Change My Password]">
            </form>
        {% else %}
            <h2>--- Invalid Link ---</h2>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
        {% endif %}
    {% else %}
        <h2>--- Password reset complete ---</h2>
        <p>Your new password has been set. You can now <a href="{% url 'accounts:login' %}">log in</a>.</p>
    {% endif %}
{% endblock %}
