:root {
    /* Base Colours */
    --background-colour: #0e0e20;
    --text-colour-normal: #ddd;
    --code-background-colour: #1e1e20;
    --emphasis-colour: #fff;
    --golden-colour: #ff6;

    /* Link Colours */
    --link-normal: #3675dd;
    --link-hover: #5695fd;

    /* Headings' Colours */
    --h1-colour: #090;
    --h2-colour: #fff;
    --h3-colour: #ddd;

    /* Header Colours */
    --header-link-normal: #090;
    --header-link-hover: #0d0;

    /* Question List's Colours */
    --question-list-link-normal: var(--text-colour-normal);
    --question-list-link-hover: var(--emphasis-colour);

    /* Form Colours */
    --form-border: #666;
    --form-background: #101010;
    --help-text: #999;
    --error-text: #ff5722;

    /* Modal Colours */
    --modal-content-background: #fefefe;
    --modal-content-border: #333;
    --modal-close-button-normal: #fff;
    --modal-close-button-hover: #ccc;
    --modal-title-background: #202032;
    --modal-title-text: #fff;
    --modal-warning-background: #2c261c;
    --modal-warning-text: #fc0;
    --modal-warning-border-colour: #4a3e18;
    --modal-body-background: var(--background-colour);
    --modal-body-text: #fff;

    /* Confirm Delete Button of the Delete Account Modal */
    --confirm-delete-button-enabled: #242435;
    --confirm-delete-button-text-normal: #e55d51;
    --confirm-delete-button-text-enabled: #fff;
    
    /* Misc */
    --tick: #0f0;
}
