:root {
    /* Base Colours */
    --background-colour: #000;
    --text-colour-normal: #ddd;
    --code-background-colour: #222;
    --emphasis-colour: #ccc;
    --golden-colour: #55f;

    /* Link Colours */
    --link-normal: #c80;
    --link-hover: #fb0;

    /* Headings' Colours */
    --h1-colour: #bbb;
    --h2-colour: #fff;
    --h3-colour: #999;

    /* Header Colours */
    --header-link-normal: #f0f;
    --header-link-hover: #f6f;

    /* Question List's Colours */
    --question-list-link-normal: var(--text-colour-normal);
    --question-list-link-hover: var(--emphasis-colour);

    /* Form Colours */
    --form-border: #999;
    --form-background: #000;
    --help-text: #666;
    --error-text: #0ad;

    /* Modal Colours */
    --modal-content-background: #fff;
    --modal-content-border: #333;
    --modal-close-button-normal: #fff;
    --modal-close-button-hover: #ccc;
    --modal-title-background: #222;
    --modal-title-text: #fff;
    --modal-warning-background: #221;
    --modal-warning-text: #ff0;
    --modal-warning-border-colour: #331;
    --modal-body-background: var(--background-colour);
    --modal-body-text: #fff;

    /* Confirm Delete Button of the Delete Account Modal */
    --confirm-delete-button-enabled: #222;
    --confirm-delete-button-text-normal: #f00;
    --confirm-delete-button-text-enabled: #fff;

    /* Misc */
    --tick: #f4f;
}

a:link em, a:visited em {
    text-decoration: underline;
}

a:hover em {
    text-decoration: underline;
}

em {
    text-decoration: underline;
}
