/* BASE */
html {
    background-color: #000;
    color: #fff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-rendering: optimizeLegibility;
}

body {
    margin: 8px;
}

/* CONFIGURE MAIN PAGE */
main {
    max-width: 1080px;
}

/* COMMON ELEMENTS */
a:link, a:visited {
    color: #c80;
    text-decoration: none;
}

a:hover {
    color: #fb0;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    filter: blur(4px);
}

code {
    position: relative;
    display: inline-block;
    margin: 0;
    font-family: "Source Code Pro", monaco, Courier, monospace;
    padding: 2px 4px;
    border-radius: 3px;
    background: #222;
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0;
}

em {
    color: #ccc;
    font-style: normal;
    text-shadow: 0 0 2px #fff;
    text-decoration: underline;
}

.golden {
    color: #55f;
}

.golden em {
    color: #55f;
    font-style: normal;
    text-shadow: 0 0 2px #55f;
}

.quiet {
    opacity: 100%;
}

/* HEADINGS */
h1, h2, h3 {
    font-size: 100%;
    font-style: normal;
}

h1 {
    color: #fff;
    text-shadow: 0 0 2px #bbb;
}

h2 {
    margin: 1em 0;
    color: #fff;
    white-space: nowrap;
}

h3 {
    font-size: 90%;
    color: #999;
}

/* CONFIGURE HEADER */
header h1 {
    display: inline-block;
    margin: 0;
    padding-right: 1em;
    text-shadow: 0 0 2px #f0f;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

header nav li {
    display: inline-block;
    padding: 0 .6em;
}

header nav a, header a {
    color: #f0f !important;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

header nav a:hover, header a:hover {
    color: #f6f !important;
}

/* CONFIGURE ARTICLE */
article {
    text-align: justify;
    margin: 2em 0;
}

/* CONFIGURE SIDEBAR */
#sidebar {
    width: 300px;
    float: right;
    margin: 0 15px 2em 2em;
    text-align: justify;
}

/* CONFIGURE QUESTIONS LIST */
.question-list a:link, .question-list a:visited {
    color: inherit;
}

.question-list a:hover {
    color: #999;
}

.clock {
    float: right;
}

/* CONFIGURE ANSWERING FORM */
form {
    display: block;
    margin-top: 0;
}

input[type="text"], textarea {
    color: inherit;
    border: 1px solid #999;
    background: #000;
    padding: 0 2px;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

input[type="submit"] {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: #c80;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    color: #fb0;
}

/* CONFIGURE SIGN UP, LOG IN AND SETTINGS FORMS */
.site-form textarea, .site-form input {
    border: 1px solid #fff;
    background: #000;
    color: inherit;
    display: block;
    margin: 5px 0 5px 0;
}

.site-form input[type="submit"] {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: #f0f;
    cursor: pointer;
}

.site-form input[type="submit"]:hover, .site-form input[type="submit"]:focus {
    color: #f6f;
}

.helptext, .helptext ul {
    margin: 0 auto 30px 0;
    color: #666;
    font-size: 90%;
    display: block;
}

.errorlist {
    width: auto;
    margin: auto auto;
    padding: 0;
}

.errorlist li {
    margin: 10px 0;
    padding: 10px;
    list-style-type: none;
    border: 1px solid #0ad;
    color: #0ad;
}


/* MISC */
.tick {
    color: #f4f;
}
