:root {
    /* Base Colours */
    --background-colour: #fff;
    --text-colour-normal: #252729;
    --code-background-colour: #e4e6e8;
    --emphasis-colour: #252729;
    --golden-colour: #efe000;

    /* Link Colours */
    --link-normal: #0645ad;
    --link-hover: #3675dd;

    /* Headings' Colours */
    --h1-colour: #444;
    --h2-colour: #000;
    --h3-colour: #666;

    /* Header Colours */
    --header-link-normal: #090;
    --header-link-hover: #0d0;

    /* Question List's Colours */
    --question-list-link-normal: var(--text-colour-normal);
    --question-list-link-hover: var(--emphasis-colour);

    /* Form Colours */
    --form-border: #666;
    --form-background: #fff;
    --help-text: #999;
    --error-text: #ff5722;

    /* Modal Colours */
    --modal-content-background: #fefefe;
    --modal-content-border: #333;
    --modal-close-button-normal: #000;
    --modal-close-button-hover: #666;
    --modal-title-background: #eee;
    --modal-title-text: #fff;
    --modal-warning-background: #fefbe0;
    --modal-warning-text: #000;
    --modal-warning-border-colour: #ede3bc;
    --modal-body-background: var(--background-colour);
    --modal-body-text: #000;

    /* Confirm Delete Button of the Delete Account Modal */
    --confirm-delete-button-enabled: #eee;
    --confirm-delete-button-text-normal: #e55d51;
    --confirm-delete-button-text-enabled: #fff;

    /* Admin Only */
    --admin-only-text: #900;
    --admin-only-link-normal: var(--admin-only-text);
    --admin-only-link-hover: #d00;

    /* Misc */
    --tick: #0b0;
}
