/* MODALS */
/* The Background of the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--modal-content-background);
    margin: auto;
    padding: 0;
    border: 1px solid var(--modal-content-border);
    width: 480px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    animation-name: appear;
    animation-duration: 0.3s;
    border-radius: 8px;
}

/* Add Animation */
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: var(--modal-close-button-normal);
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: translate(0%, -25%);
}

.close:hover, .close:focus {
    color: var(--modal-close-button-hover);
    text-decoration: none;
    cursor: pointer;
}

/* Modal Formatting */
.modal-title {
    padding: 16px;
    border-radius: 6px 6px 0 0;
    background-color: var(--modal-title-background);
    color: var(--modal-title-text);
}

.modal-warning {
    padding: 20px 16px;
    background-color: var(--modal-warning-background);
    color: var(--modal-warning-text);
    border-top: 1px solid var(--modal-warning-border-colour);
    border-bottom: 1px solid var(--modal-warning-border-colour);
}

.modal-body {
    padding: 2px 16px;
    background-color: var(--modal-body-background);
    color: var(--modal-body-text);
}

.modal-body p {
    margin: 10px 0 10px 0;
}

.popup-form-element {
    display: block;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--modal-body-text);
    background-color: var(--modal-body-background);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--modal-content-border);
    border-radius: 6px;
    outline: none;
}

/* Delete Account Modal */
#delete-account-modal-button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 2px 2px;
    color: var(--link-normal);
    cursor: pointer;
}

#delete-account-modal-button:hover, #delete-account-modal-button:focus {
    color: var(--link-hover);
}

#input-block {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#confirm-delete-account-button {
    font-size: 100%;
    width: 100%;
    color: var(--confirm-delete-button-text-normal);
    transition: 0.2s;
    margin-bottom: 10px;
}

#confirm-delete-account-button:enabled {
    background-color: var(--confirm-delete-button-enabled);
}

#confirm-delete-account-button:enabled:hover {
    background-color: var(--confirm-delete-button-text-normal);
    color: var(--confirm-delete-button-text-enabled);
    cursor: pointer;
}
