/* CONFIGURE LINKS */
a.admin-only:link, a.admin-only:visited {
    color: var(--admin-only-link-normal);
}

a.admin-only:hover {
    color: var(--admin-only-link-hover);
}

/* CONFIGURE HEADER ELEMENTS */
header nav a.admin-only:link, header nav a.admin-only:visited {
    color: var(--admin-only-link-normal);
}

header nav a.admin-only:hover {
    color: var(--admin-only-link-hover);
}

/* CONFIGURE FORMS */
.admin-only .site-form input[type="text"], .admin-only .site-form textarea {
    width: 50%;
}

.admin-only .site-form textarea {
    height: 100%;
}

.admin-only .site-form input[type="submit"] {
    color: var(--admin-only-link-normal);
}

.admin-only .site-form input[type="submit"]:hover {
    color: var(--admin-only-link-hover);
}

/* CONFIGURE EDIT QUESTION FORM */
.admin-only .site-form #id_input_generation_code {
    font-family: "Source Code Pro", monaco, Courier, monospace;
}

.admin-only .site-form #id_override_key {
    font-family: "Source Code Pro", monaco, Courier, monospace;
}

/* CONFIGURE PREVIEW QUESTION PAGE */
#question-content {
    width: 75%;
    height: 360px;
}

/* CONFIGURE ADMIN MODALS */
/* Buttons */
#reset-input-modal-button, #delete-question-modal-button, #reset-all-inputs-modal-button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 2px 2px;
    color: var(--admin-only-link-normal);
    cursor: pointer;
}

/* Reset Question Input Modal */
#reset-input-modal-button:hover, #reset-input-modal-button:focus {
    color: var(--admin-only-link-hover);
}

#reset-input-no, #reset-input-yes {
    font-size: 100%;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.2s;
    cursor: pointer;
}

#reset-input-no:hover {
    background-color: var(--link-hover);
}

#reset-input-yes:hover {
    background-color: var(--confirm-delete-button-text-normal);
}

/* Reset All Questions' Inputs Modal */
#reset-all-inputs-modal-button:hover, #reset-all-inputs-modal-button:focus {
    color: var(--admin-only-link-hover);
}

#reset-all-inputs-modal-input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#reset-all-inputs-confirm-button {
    font-size: 100%;
    width: 100%;
    color: var(--confirm-delete-button-text-normal);
    transition: 0.2s;
    margin-bottom: 10px;
}

#reset-all-inputs-confirm-button:enabled {
    background-color: var(--confirm-delete-button-enabled);
}

#reset-all-inputs-confirm-button:enabled:hover {
    background-color: var(--confirm-delete-button-text-normal);
    color: var(--confirm-delete-button-text-enabled);
    cursor: pointer;
}


/* Delete Question Modal */
#delete-question-modal-input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#confirm-delete-question-button {
    font-size: 100%;
    width: 100%;
    color: var(--confirm-delete-button-text-normal);
    transition: 0.2s;
    margin-bottom: 10px;
}

#confirm-delete-question-button:enabled {
    background-color: var(--confirm-delete-button-enabled);
}

#confirm-delete-question-button:enabled:hover {
    background-color: var(--confirm-delete-button-text-normal);
    color: var(--confirm-delete-button-text-enabled);
    cursor: pointer;
}
