/* CONFIGURE LINKS */
a.admin-only:link, a.admin-only:visited {
    color: var(--admin-only-link-normal);
}

a.admin-only:hover {
    color: var(--admin-only-link-hover);
}

/* CONFIGURE HEADER ELEMENTS */
header nav a.admin-only:link, header nav a.admin-only:visited {
    color: var(--admin-only-link-normal);
}

header nav a.admin-only:hover {
    color: var(--admin-only-link-hover);
}

/* CONFIGURE FORMS */
.admin-only .site-form input[type="text"], .admin-only .site-form textarea {
    width: 50%;
}

.admin-only .site-form textarea {
    height: 100%;
}

.admin-only .site-form input[type="submit"] {
    color: var(--admin-only-link-normal);
}

.admin-only .site-form input[type="submit"]:hover {
    color: var(--admin-only-link-hover);
}

/* CONFIGURE EDIT QUESTION FORM */
.admin-only .site-form #id_input_generation_code {
    font-family: "Source Code Pro", monaco, Courier, monospace;
}

.admin-only .site-form #id_override_key {
    font-family: "Source Code Pro", monaco, Courier, monospace;
}

/* CONFIGURE ADMIN MODALS */
/* Reset Question Input Modal */
#reset-input-modal-button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 2px 2px;
    color: var(--admin-only-link-normal);
    cursor: pointer;
}

#reset-input-modal-button:hover, #reset-input-modal-button:focus {
    color: var(--admin-only-link-hover);
}

#reset-input-no, #reset-input-yes {
    font-size: 100%;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.2s;
    cursor: pointer;
}

#reset-input-no:hover {
    background-color: var(--link-hover);
}

#reset-input-yes:hover {
    background-color: var(--confirm-delete-button-text-normal);
}
