/* BASE */
html {
    background-color: #0f0f23;
    color: #ccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    margin: 8px;
}

/* COMMON ELEMENTS */
a:link, a:visited {
    color: #090;
    text-decoration: none;
}

a:hover {
    color: #0d0;
}

code {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0;
    border: 1px solid #333340;
    background: #10101a;
}

em {
    color: #fff;
    font-style: normal;
    text-shadow: 0 0 5px #fff;
}

/* HEADINGS */
h1, h2, h3 {
    font-size: 100%;
    font-style: normal;
}

h1 {
    color: #0d0;
    text-shadow: 0 0 5px #0d0;
}

h2 {
    margin: 1em 0;
    color: #fff;
    white-space: nowrap;
}

h3 {
    font-size: 75%;
    color: #d9d9d9;
}

/* CONFIGURE HEADER */
header h1 {
    display: inline-block;
    margin: 0;
    padding-right: 1em;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

header nav li {
    display: inline-block;
    padding: 0 .6em;
}

header nav a, header a {
    color: #090 !important;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

header nav a:hover, header a:hover {
    color: #0d0 !important;
}

/* CONFIGURE ARTICLE */
article {
    text-align: justify;
    width: 1080px;
    margin: 2em 0;
}

/* CONFIGURE QUESTIONS LIST */
.question-list a:link, .question-list a:visited {
    color: inherit;
}

.question-list a:hover {
    color: #fff;
}

/* CONFIGURE ANSWERING FORM */
form {
    display: block;
    margin-top: 0;
}

input[type="text"], textarea {
    color: inherit;
    border: 1px solid #666;
    background: #101010;
    padding: 0 2px;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

input[type="submit"] {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: #090;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    color: #0d0;
}

/* MISC */
.tick {
    color: #0f0;
}
