/* BASE */
html {
    background-color: var(--background-colour);
    color: var(--text-colour-normal);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-rendering: optimizeLegibility;
}

body {
    margin: 8px;
}

main {
    max-width: 1080px;
}

/* COMMON ELEMENTS */
a:link, a:visited {
    color: var(--link-normal);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

a:link em, a:visited em {
    color: var(--link-normal);
    font-style: normal;
    text-shadow: 0 0 3px var(--link-normal);
}

a:hover em {
    color: var(--link-hover);
    font-style: normal;
    text-shadow: 0 0 3px var(--link-hover);
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 50%;
}

code {
    position: relative;
    display: inline-block;
    margin: 0;
    font-family: "Source Code Pro", monaco, Courier, monospace;
    padding: 2px 4px;
    border-radius: 3px;
    background: var(--code-background-colour);
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0;
}

em {
    color: var(--emphasis-colour);
    font-style: normal;
    text-shadow: 0 0 3px var(--emphasis-colour);
}

.golden {
    color: var(--golden-colour);
}

.golden em {
    color: var(--golden-colour);
    font-style: normal;
    text-shadow: 0 0 5px var(--golden-colour);
}

.quiet {
    opacity: 50%;
}

/* HEADINGS */
h1, h2, h3 {
    font-size: 100%;
    font-style: normal;
}

h1 {
    color: var(--h1-colour);
    text-shadow: 0 0 2px var(--h1-colour);
}

h2 {
    margin: 1em 0;
    color: var(--h2-colour);
    white-space: nowrap;
}

h3 {
    font-size: 75%;
    color: var(--h3-colour);
}

/* CONFIGURE HEADER */
header h1 {
    display: inline-block;
    margin: 0;
    padding-right: 1em;
    text-shadow: 0 0 2px var(--h1-colour);
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

header nav li {
    display: inline-block;
    padding: 0 .6em;
}

header nav a:link, header nav a:visited, header h1 > a:link, header h1 > a:visited {
    color: var(--header-link-normal);
    display: inline-block;
    text-decoration: none;
    outline: none;
}

header nav a:hover, header h1 > a:hover {
    color: var(--header-link-hover);
}

/* CONFIGURE ARTICLE */
article {
    text-align: justify;
    margin: 2em 0;
}

/* CONFIGURE SIDEBAR */
#sidebar {
    width: 300px;
    float: right;
    margin: 0 15px 2em 2em;
    text-align: justify;
}

/* CONFIGURE QUESTIONS LIST */
.question-list a:link, .question-list a:visited {
    color: var(--question-list-link-normal);
}

.question-list a:hover {
    color: var(--question-list-link-hover);
}

.question-list a.disabled {
    filter: blur(4px);
}

.clock {
    float: right;
}

/* MISC */
.tick {
    color: var(--tick);
}

.red-cross {
    color: var(--red-cross-normal);
}

.red-cross:hover {
    color: var(--red-cross-hover);
    cursor: pointer;
}
