{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
    Log In - Quaestiones
{% endblock %}

{% block page_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "accounts/resources/css/login.css" %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Login</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% if request.GET.next %}
            <ul class="errorlist login-first">
                <li>Please log into your account first.</li>
            </ul>
        {% endif %}

        {% csrf_token %}
        {{ form }}

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        <input type="submit" value="Login">
    </form>
{% endblock %}
