{% extends "global/base_template.html" %}
{% load static %}

{% block title %}
    Sign Up - Quaestiones
{% endblock %}

{% block page_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "accounts/resources/css/signup.css" %}">
{% endblock %}

{% block content %}
    <p>
        <br>
        Fill in the following information to sign up to this website.
    </p>

    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        {{ form }}

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <br>
        <input type="submit" value="[Sign up]">
    </form>
{% endblock %}
