html {
    background-color: #fff;
    color: #252729;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14pt;
    text-rendering: optimizeLegibility;
}

em {
    color: #252729;
    font-style: normal;
    text-shadow: 0 0 5px #444;
}

code {
    position: relative;
    display: inline-block;
    margin: 0;
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 3px;
    background: #e4e6e8;
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0;
}
