{% extends "global/base.html" %}
{% load static %}

{% block title %}
    Search For File - Quaestiones
{% endblock %}

{% block page_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'upload_file/css/search_for_file.css' %}">
{% endblock %}

{% block header_scripts %}
    <script>
        const UPLOADED_FILES_ROOT = location.host + "{% get_media_prefix %}" + "Uploaded-Files/";
    </script>
{% endblock %}

{% block content %}
    <h2>--- Search For File ---</h2>

    {% if files %}
        <label for="file-search"></label>
        <input type="text" id="file-search" onkeyup="search()" placeholder="Search...">

        <table id="file-table">
            <tr class="header">
                <th>File Name</th>
            </tr>
            {% for file in files %}
                <tr>
                    <td><a class="file-name" href="javascript:void(0);">{{ file }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no uploaded files.</p>
    {% endif %}

    <p>
        Do you want to <a class="admin-only" href="{% url 'upload_file' %}">[Upload A File]</a>?
    </p>

{% endblock %}

{% block body_scripts %}
    <script src="{% static 'upload_file/js/search_for_file.js' %}"></script>
{% endblock %}
